@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
i {
    font-size: 32px;
}
/*SAVED 32*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    /* border: 1px solid red; */
}
.meny {
    display: flex;
    justify-content: center;
    height: 70px;
    
}
.BB {
    display: flex;
    justify-self: center;
    width: 700px;
}
.VV {
    display: flex;
    justify-self: center;
    width: 500px;
    margin: 25px 0px 25px 0px;
}
.downloadBtn {
    display: flex;
    justify-content: center;
    margin: 5px;
    display: flex;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
}
.downloadTekst {
    text-align: center;
    width: 200px;
}
.videoen {
    margin: 30px 0px 60px 0px;
}
.klasseContainer {
    margin: 0 auto;
}
.IMA {
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: 400; 
    font-size: 60px;
    
}
.dropdownHeader {
    display: flex;
    justify-content: center;
    background: linear-gradient(-50deg, #ff00f7, #ff00aa);
    top: 0;
}
.dropdownContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 100px 10px;
}
.nettsideOverskrift {
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: 400; 
}
.tverrOverskrift {
    text-align: center;
    color: white;
    font-size: 20px;
}
.dropdownMeny {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.valg {
    width: 600px;
    height: 80px;
    text-align: center;
    border-radius: 6px;
    font-size: 25px;
    cursor: pointer;
}
.overskrift{
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: 400; 
    font-size: 80px;
    text-align: center;
    margin: 0px 25px 45px 25px;
    padding: 0px 0px 30px 0px;
    border-bottom: 2px solid #333;
}
.miniOverskrift {
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: 55; 
    font-size: 50px;
    padding: 15px;
}
.infoContainer {
    margin: 10px;
    max-width: 800px;
    min-width: 400px;
}
.hovedContainerHeader {
    max-width: 800px;
    margin-bottom: 20px;
}
.border {
    border-bottom: 3px solid black
}
.hovedContainerMain {
    max-width: 800px;
    min-width: 400px;
}
main {
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: white;
    margin-top: -5rem;
    margin-bottom: 5rem;
    padding: 2rem 0;
    z-index: 1;
    position: relative;
    max-width: 800px;
    min-width: 400px;
    
}
.tekst {
    width: 700px;
}
ul {
    margin-left: 35px;
}
.bildeContainerRow {
    display: flex;
}
.imageContainer {
    padding: 10px;
}
.bildeContainerRow {
    display: flex;
}
.BVContainer {
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.BVContainer img, .BVContainer video {
    width: 100%;
    height: auto;
    display: block;
}
.sliderWrapper {
  position: relative;
  max-width: 30rem;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
}
.nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.nav a:hover {
  opacity: 1;
}
.spillIkon {
    width: 18px;
    height: 20px;
    margin-right: 5px;
}
.downloadBtn {
  display: inline-flex;
  align-items: center;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 5px 10px 5px;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.4s ease-in-out, transform 0.3s ease-in-out;
}
.nedlastingen {
    margin: 0px 0px 20px 15px;
    display: flex;
}
.downloadBtn:hover {
  color: #ffffff;
  background-color: #0056b3;
  transform: translateY(-3px);
}
.iconDownload {
  width: 18px;
  height: 20px;
  margin-right: 5px;
  fill: currentColor;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgb(227, 227, 227);
    background: linear-gradient(360deg, #ffffff, rgb(240, 240, 240));
    color: white;
    text-align: center;
    z-index: 10;
}
.sideTall {
    z-index: 100;
    color: black;
    align-self: flex-end;
    font-family: 'Haettenschweiler', sans-serif;
    margin-bottom: 10px;
    width: 15px;
    font-size: 25px;
}
.side {
    display: flex;
    justify-content: center;
}
.pil1, .pil2 {
    fill: black;
    transition: fill 0.2 ease;
    cursor: pointer;
}
.pil1:hover, .pil2:hover {
    fill: rgb(141, 141, 255);
    border-bottom: 2px solid rgb(141, 141, 255);
}
.hjelpContainer {
    display: flex;
    width: 100px;
    position: fixed;
    left: 10px;
    bottom: 5px;
}
a:hover {
    color: orange;
}
.aMeny1, .aMeny2, .aMeny3, .aMeny4, .aMeny5, .menyHjelp, .menyKontakt{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 20px;
    width: 20px;
}
.menyKontakt, .menyHjelp {
    width: 60px;
}
.aMeny1:hover, .aMeny2:hover, .aMeny3:hover, .aMeny4:hover, .aMeny5:hover, .menyHjelp:hover, .menyKontakt:hover {
    color: rgb(26, 44, 206);
    text-decoration: underline;
}
.menyContainer {
  position: fixed;
  top: 13%;
  left: -270px;
  width: 250px;
  background: linear-gradient(135deg, #052f3a, #222);
  border-radius: 0 10px 10px 0;
  padding: 20px;
  transition: left 0.7s ease;   
  z-index: 10000000002;
}
.menyContainer:hover {
  left: 0;
}
.menyHeader {
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}
.menyIMA {
  color: #fff;
}
.menyMain {
  display: flex;
  flex-direction: column;
}
.aMeny {
  color: #eee;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.2s ease, background 0.2s ease;
}
.aMeny:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #4ea4f3;
}
.menyFooter {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #333;
    padding-top: 15px;
    text-align: center;
}
.backgroundMeny {
    position: fixed;
    background-color: #222;

}
.tekst {
        padding: 15px;
    }
@media (max-width: 915px) {
    .tekst {
        padding: 15px;
    }
    main, .hovedContainerMain, .infoContainer {
    min-width: 650px;
    max-width: 650px;
    }
    .overskrift{
    font-size: 70px;
    }
    .tverrOverskrift {
    font-size: 15px;
    }
    .nettsideOverskrift {
    font-size: 80px;
    }
    .valg {
    width: 350px;
    height: 60px;
    font-size: 20px;
    }
    .tverrOverskrift {
    text-align: center;
    color: white;
    }
    .tekst {
    width: 550px;
    }
    .menyContainer {
    top: 15%;
    left: -190px;
    width: 170px;
    }
    .aMeny1, .aMeny2, .aMeny3, .aMeny4, .aMeny5, .menyHjelp {
    margin-bottom: 10px;
    }
    .BB {
    display: flex;
    justify-self: center;
    width: 600px;
    }

}
/* @media (max-width: 740px) {
    .nettsideOverskrift {
    text-align: center;
    color: white;
    font-size: 70px;
    }
    .hovedContainerHeader {
    max-width: 800px;
    }
    .overskrift{
    font-size: 65px;
    }
    .tverrOverskrift {
    font-size: 10px;
    }
    .valg {
    width: 240px;
    height: 40px;
    font-size: 15px;
    }
    main {
    display: block;
    justify-content: left;
    }
    .hovedContainerHeader, .hovedContainerMain {
    
    margin-bottom: 20px;
    }
    .border {
    border-bottom: 3px solid black;
    }
     .tekst {
    width: 400px;
    margin-left: 20px;
    }
} */
@media (max-width: 740px) {
    .tekst {
        width: 300px;
        padding: 15px;
    }
    .overskrift{
    font-size: 65px;
    }
    main, .hovedContainerMain, .infoContainer {
        max-width: 400px;
        min-width: 80px;
    }
    .søkContainer {
    width: 120px;
    height: 35px;
    margin-right: 30px;
    }
    .søk {
    /* margin: 15px 20px 0px 0px; */
    border: none;
    margin-left: 0px;
    height: 33px;
    font-size: 8px;
    padding: 2px;
    width: 87px;
    }
    .sok {
        margin-left: 10px;
    }
    .IMA {
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: 400; 
    font-size: 60px;
    margin: 0px 0px 0px 0px;
    }
    .nettsideOverskrift {
        font-size: 50px;
    }
    .BB {
        width: 400px;
    }
    
}
@media (max-height: 610px) {
    .aMeny1, .aMeny2, .aMeny3, .aMeny4, .aMeny5, .menyHjelp {
    margin-bottom: 0px;
    }
    .menyContainer {
    top: 25%;
    left: -120px;
    width: 100px;
    }
    .menyFooter {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    border-top: 2px solid #333;
    padding-top: 5px;
    }
    .menyHjelp, .menyKontakt {
        margin-top: 5px;
        margin-bottom: 0px;
        width: 5px;
    }
    .menyIMA {
    font-size: 0px;
    }
    .menyHeader {
    border-bottom: 0px solid #333;
    margin-bottom: 0px;
    }
}
@media (max-height: 365px) {
    .menyMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .menyContainer {
    top: 25%;
    left: -310px;
    width: 290px;
    }
    .aMeny1, .aMeny2, .aMeny3, .aMeny4, .aMeny5 {
    width: 60px;
    text-align: center;
    margin-bottom: 5px;
    }
    .menyFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    border-top: 2px solid #333;
    }
    .menyHjelp, .menyKontakt {
        margin-bottom: 0px;
        width: 55px;
    }
}